<!DOCTYPE html>
<html lang=""es>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python pro html</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="titulo">
        <h1>Compra tu pepsi ya</h1>
    </div>

    <div class="subtitulo">
        <p>Esto es sólo un párrafo de texto</p>
    </div>

    <div class="list-img">
        <h2>Y ésta es una cabecera un poco más pequeña</h2>
                <ul>
                    <li>Este es un elemento de una lista de viñetas (la primera)</li>
                    <li>Y este es el segundo elemento</li>
                </ul>
        <img src="../static/img/YT studio-icon.jpg" alt="Image 1">
     </div>
</body>
</html>